body {
  background-color: rgb(63, 63, 63); 
  font-family: Arial, sans-serif;
  
  
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.business-card {
  width: 300px;
  background-color: rgb(191, 200, 222);
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7%;
}

.profile-image {
max-width: 100%;
border-radius: 20%;

}
